input[type=file]::file-selector-button {
  border: 0px;
  padding: .4em .8em;
  border-radius: .4em;
  transition: 1s;
  color: white;
  font-size: '15rem';
}

.fileUploader[type=file]::file-selector-button {
  background-color: #208905;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fileUploader[type=file]::file-selector-button:hover {
  background-color: #474646;
  cursor: pointer;
}
